.header {
  background-color: rgba(19, 19, 19, 0.568);
  color: #fff;

  padding: 20px 0;
  max-height: 10vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 75px;
  height: auto;
}

.buttons {
  display: flex;
  gap: 30px;
}
